In [1]:
import numpy as np
import pandas as pd
#padas has four main time related classes.Timestamp,DatetimeIndex,Period and PeriodIndex

In [2]:
pd.Timestamp('9/1/2019 10:05AM')

Timestamp('2019-09-01 10:05:00')

In [3]:
pd.Timestamp(2019,12,20,0,0)

Timestamp('2019-12-20 00:00:00')

In [4]:
pd.Timestamp(2019,12,20,0,0).isoweekday()

5

In [8]:
pd.Timestamp(1911,2,3,6,7,8).second

8

In [9]:
#Period

In [10]:
pd.Period('1/2016')

Period('2016-01', 'M')

In [11]:
pd.Period('3/2/2016')

Period('2016-03-02', 'D')

In [12]:
pd.Period('1/2016') +5

Period('2016-06', 'M')

In [15]:
pd.Period('3/1/2016') - 10

Period('2016-02-20', 'D')

In [16]:
pd.Period('3/1/2016')

Period('2016-03-01', 'D')

In [17]:
#Datetimeindex and periodindex

In [19]:
t1 = pd.Series(list('abc'),[pd.Timestamp('2016-09-01'),pd.Timestamp('2016-09-02'),pd.Timestamp('2016-09-03')])

In [20]:
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [21]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [22]:
t1 = pd.Series(list('abc'),[pd.Period('2016-09-01'),pd.Period('2016-09-02'),pd.Period('2016-09-03')])

In [23]:
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
Freq: D, dtype: object

In [25]:
type(t1.index)

pandas.core.indexes.period.PeriodIndex

In [28]:
d1 = ['1 June 2013','Aug 29, 2014', '2015-06-26','7/12/16']
t3 = pd.DataFrame(np.random.randint(10,100,(4,2)),index=d1,columns=list('ab'))

In [29]:
t3

               a   b
1 June 2013   60  29
Aug 29, 2014  91  40
2015-06-26    88  81
7/12/16       13  34

In [30]:
t3.index = pd.to_datetime(t3.index)

In [31]:
t3

             a   b
2013-06-01  60  29
2014-08-29  91  40
2015-06-26  88  81
2016-07-12  13  34

In [33]:
pd.to_datetime('4.7.12',dayfirst=True)

Timestamp('2012-07-04 00:00:00')

In [39]:
#timedelta
pd.Timestamp('9/3/2016')-pd.Timestamp('9/1/2016')

Timedelta('2 days 00:00:00')

In [42]:
pd.Timestamp('9/2/2016 8:10AM')+pd.Timedelta('12D 3H')

Timestamp('2016-09-14 11:10:00')

In [44]:
#Offset

In [46]:
pd.Timestamp('9/4/2016') + pd.offsets.Week()

Timestamp('2016-09-11 00:00:00')

In [52]:
pd.Timestamp('25/12/2022').weekday()

C:\Users\rakes\AppData\Local\Temp\ipykernel_10628\1396352014.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.Timestamp('25/12/2022').weekday()

6

In [53]:
pd.Timestamp('9/4/2016') + pd.offsets.MonthEnd()

Timestamp('2016-09-30 00:00:00')

In [54]:
#working with dates in a datafrmae

In [55]:
dates = pd.date_range('10-01-2016',periods=9,freq ='2W-SUN')
dates

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [58]:
dates = pd.date_range('10-01-2016',periods=9,freq ='B')
dates

DatetimeIndex(['2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-12',
               '2016-10-13'],
              dtype='datetime64[ns]', freq='B')

In [61]:
dates = pd.date_range('10-01-2016',periods=9,freq ='2W-SUN')
df = pd.DataFrame({'Count 1':100+ np.random.randint(-5,10,9).cumsum(),
                  'Count 2':200 + np.random.randint(-5,10,9)},index= dates)

In [62]:
df

            Count 1  Count 2
2016-10-02       95      202
2016-10-16       97      200
2016-10-30      104      203
2016-11-13       99      206
2016-11-27       97      202
2016-12-11       94      207
2016-12-25      102      206
2017-01-08       99      202
2017-01-22       98      205

In [72]:
df.index

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [73]:
df.resample('M').mean()

              Count 1     Count 2
2016-10-31  98.666667  201.666667
2016-11-30  98.000000  204.000000
2016-12-31  98.000000  206.500000
2017-01-31  98.500000  203.500000

In [74]:
df['2017']

C:\Users\rakes\AppData\Local\Temp\ipykernel_10628\1797912031.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df['2017']

            Count 1  Count 2
2017-01-08       99      202
2017-01-22       98      205

In [76]:
df['2016-12':]

            Count 1  Count 2
2016-12-11       94      207
2016-12-25      102      206
2017-01-08       99      202
2017-01-22       98      205