In [1]:
import pandas as pd

In [2]:
student = {'Alice' : 'Physics','Jack' : 'Math','Hari' : 'hemistry'}

In [3]:
s = pd.Series(student)

In [4]:
s

Alice     Physics
Jack         Math
Hari     hemistry
dtype: object

In [5]:
s.iloc[2]

'hemistry'

In [6]:
s.loc['Hari']

'hemistry'

In [7]:
s['Alice']

'Physics'

In [8]:
class_code = {
    99 :'Physics',
    34 :'CHemistry',
    45 : 'Nepali',
    89 : 'Social',
    98 : ' English'
}

In [9]:
s = pd.Series(class_code)

In [10]:
s

99      Physics
34    CHemistry
45       Nepali
89       Social
98      English
dtype: object

In [11]:
s[99]

'Physics'

In [12]:
grades = pd.Series([90,99, 89, 78 ,86])

In [13]:
total = 0
for grade in grades:
    total +=grade
print(total/len(grades))

88.4

In [14]:
import numpy as np
total = np.sum(grades)
print(total/len(grades))

88.4

In [15]:
numbers = pd.Series(np.random.randint(0,1000,10000))

In [16]:
numbers.head()

0    343
1    523
2     87
3    883
4    815
dtype: int32

In [17]:
len(numbers)

10000

In [18]:
#magic function

In [19]:
%%timeit -n 100
total = 0
for number in numbers:
    total += number
total/len(numbers)

883 µs ± 41.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [20]:
%%timeit -n 100
s =numbers.sum()
s/len(numbers)

40.1 µs ± 6.35 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [21]:
numbers

0       343
1       523
2        87
3       883
4       815
       ...
9995    788
9996     40
9997    233
9998    836
9999    392
Length: 10000, dtype: int32

In [22]:
numbers +=2

In [23]:
numbers.head()

0    345
1    525
2     89
3    885
4    817
dtype: int32

In [68]:
s = pd.Series(np.random.randint(1,10000,1000))
print(s.head())
for label,value in s.iteritems():
    s[label] =value+2
print(s)

0    4888
1    3914
2    8173
3     698
4     580
dtype: int32
0      4890
1      3916
2      8175
3       700
4       582
       ...
995    9232
996    7795
997    1808
998    2902
999    6601
Length: 1000, dtype: int32

C:\Users\rakes\AppData\Local\Temp\ipykernel_13080\666471034.py:3: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for label,value in s.iteritems():