In [37]:
import pandas as pd
import numpy as np

In [51]:
df = pd.read_csv('datasets/census.csv')
df = df[df['SUMLEV']==50]

In [52]:
%%timeit -n 3
for state in df['STNAME'].unique():
    avg =np.average(df.where(df['STNAME']==state).dropna()['CENSUS2010POP'])
   # print('Country in state '+state +'have an average population of'+str(avg))

948 ms ± 10.3 ms per loop (mean ± std. dev. of 7 runs, 3 loops each)

In [72]:
%%timeit -n 3
for group, frame in df.groupby('STNAME'):
    avg =np.average(frame['CENSUS2010POP'])
    print('country in state '+group+'an average population of '+str(avg))

country in state Alabamaan average population of 71339.34328358209
country in state Alaskaan average population of 24490.724137931036
country in state Arizonaan average population of 426134.4666666667
country in state Arkansasan average population of 38878.90666666667
country in state Californiaan average population of 642309.5862068966
country in state Coloradoan average population of 78581.1875
country in state Connecticutan average population of 446762.125
country in state Delawarean average population of 299311.3333333333
country in state District of Columbiaan average population of 601723.0
country in state Floridaan average population of 280616.5671641791
country in state Georgiaan average population of 60928.63522012578
country in state Hawaiian average population of 272060.2
country in state Idahoan average population of 35626.86363636364
country in state Illinoisan average population of 125790.50980392157
country in state Indianaan average population of 70476.10869565218
country in state Iowaan average population of 30771.262626262625
country in state Kansasan average population of 27172.55238095238
country in state Kentuckyan average population of 36161.39166666667
country in state Louisianaan average population of 70833.9375
country in state Mainean average population of 83022.5625
country in state Marylandan average population of 240564.66666666666
country in state Massachusettsan average population of 467687.78571428574
country in state Michiganan average population of 119080.0
country in state Minnesotaan average population of 60964.65517241379
country in state Mississippian average population of 36186.54878048781
country in state Missourian average population of 52077.62608695652
country in state Montanaan average population of 17668.125
country in state Nebraskaan average population of 19638.075268817203
country in state Nevadaan average population of 158855.9411764706
country in state New Hampshirean average population of 131647.0
country in state New Jerseyan average population of 418661.61904761905
country in state New Mexicoan average population of 62399.36363636364
country in state New Yorkan average population of 312550.03225806454
country in state North Carolinaan average population of 95354.83
country in state North Dakotaan average population of 12690.396226415094
country in state Ohioan average population of 131096.63636363635
country in state Oklahomaan average population of 48718.844155844155
country in state Oregonan average population of 106418.72222222222
country in state Pennsylvaniaan average population of 189587.74626865672
country in state Rhode Islandan average population of 210513.4
country in state South Carolinaan average population of 100551.39130434782
country in state South Dakotaan average population of 12336.060606060606
country in state Tennesseean average population of 66801.1052631579
country in state Texasan average population of 98998.27165354331
country in state Utahan average population of 95306.37931034483
country in state Vermontan average population of 44695.78571428572
country in state Virginiaan average population of 60111.29323308271
country in state Washingtonan average population of 172424.10256410256
country in state West Virginiaan average population of 33690.8
country in state Wisconsinan average population of 78985.91666666667
country in state Wyomingan average population of 24505.478260869564
country in state Alabamaan average population of 71339.34328358209
country in state Alaskaan average population of 24490.724137931036
country in state Arizonaan average population of 426134.4666666667
country in state Arkansasan average population of 38878.90666666667
country in state Californiaan average population of 642309.5862068966
country in state Coloradoan average population of 78581.1875
country in state Connecticutan average population of 446762.125
country in state Delawarean average population of 299311.3333333333
country in state District of Columbiaan average population of 601723.0
country in state Floridaan average population of 280616.5671641791
country in state Georgiaan average population of 60928.63522012578
country in state Hawaiian average population of 272060.2
country in state Idahoan average population of 35626.86363636364
country in state Illinoisan average population of 125790.50980392157
country in state Indianaan average population of 70476.10869565218
country in state Iowaan average population of 30771.262626262625
country in state Kansasan average population of 27172.55238095238
country in state Kentuckyan average population of 36161.39166666667
country in state Louisianaan average population of 70833.9375
country in state Mainean average population of 83022.5625
country in state Marylandan average population of 240564.66666666666
country in state Massachusettsan average population of 467687.78571428574
country in state Michiganan average population of 119080.0
country in state Minnesotaan average population of 60964.65517241379
country in state Mississippian average population of 36186.54878048781
country in state Missourian average population of 52077.62608695652
country in state Montanaan average population of 17668.125
country in state Nebraskaan average population of 19638.075268817203
country in state Nevadaan average population of 158855.9411764706
country in state New Hampshirean average population of 131647.0
country in state New Jerseyan average population of 418661.61904761905
country in state New Mexicoan average population of 62399.36363636364
country in state New Yorkan average population of 312550.03225806454
country in state North Carolinaan average population of 95354.83
country in state North Dakotaan average population of 12690.396226415094
country in state Ohioan average population of 131096.63636363635
country in state Oklahomaan average population of 48718.844155844155
country in state Oregonan average population of 106418.72222222222
country in state Pennsylvaniaan average population of 189587.74626865672
country in state Rhode Islandan average population of 210513.4
country in state South Carolinaan average population of 100551.39130434782
country in state South Dakotaan average population of 12336.060606060606
country in state Tennesseean average population of 66801.1052631579
country in state Texasan average population of 98998.27165354331
country in state Utahan average population of 95306.37931034483
country in state Vermontan average population of 44695.78571428572
country in state Virginiaan average population of 60111.29323308271
country in state Washingtonan average population of 172424.10256410256
country in state West Virginiaan average population of 33690.8
country in state Wisconsinan average population of 78985.91666666667
country in state Wyomingan average population of 24505.478260869564
country in state Alabamaan average population of 71339.34328358209
country in state Alaskaan average population of 24490.724137931036
country in state Arizonaan average population of 426134.4666666667
country in state Arkansasan average population of 38878.90666666667
country in state Californiaan average population of 642309.5862068966
country in state Coloradoan average population of 78581.1875
country in state Connecticutan average population of 446762.125
country in state Delawarean average population of 299311.3333333333
country in state District of Columbiaan average population of 601723.0
country in state Floridaan average population of 280616.5671641791
country in state Georgiaan average population of 60928.63522012578
country in state Hawaiian average population of 272060.2
country in state Idahoan average population of 35626.86363636364
country in state Illinoisan average population of 125790.50980392157
country in state Indianaan average population of 70476.10869565218
country in state Iowaan average population of 30771.262626262625
country in state Kansasan average population of 27172.55238095238
country in state Kentuckyan average population of 36161.39166666667
country in state Louisianaan average population of 70833.9375
country in state Mainean average population of 83022.5625
country in state Marylandan average population of 240564.66666666666
country in state Massachusettsan average population of 467687.78571428574
country in state Michiganan average population of 119080.0
country in state Minnesotaan average population of 60964.65517241379
country in state Mississippian average population of 36186.54878048781
country in state Missourian average population of 52077.62608695652
country in state Montanaan average population of 17668.125
country in state Nebraskaan average population of 19638.075268817203
country in state Nevadaan average population of 158855.9411764706
country in state New Hampshirean average population of 131647.0
country in state New Jerseyan average population of 418661.61904761905
country in state New Mexicoan average population of 62399.36363636364
country in state New Yorkan average population of 312550.03225806454
country in state North Carolinaan average population of 95354.83
country in state North Dakotaan average population of 12690.396226415094
country in state Ohioan average population of 131096.63636363635
country in state Oklahomaan average population of 48718.844155844155
country in state Oregonan average population of 106418.72222222222
country in state Pennsylvaniaan average population of 189587.74626865672
country in state Rhode Islandan average population of 210513.4
country in state South Carolinaan average population of 100551.39130434782
country in state South Dakotaan average population of 12336.060606060606
country in state Tennesseean average population of 66801.1052631579
country in state Texasan average population of 98998.27165354331
country in state Utahan average population of 95306.37931034483
country in state Vermontan average population of 44695.78571428572
country in state Virginiaan average population of 60111.29323308271
country in state Washingtonan average population of 172424.10256410256
country in state West Virginiaan average population of 33690.8
country in state Wisconsinan average population of 78985.91666666667
country in state Wyomingan average population of 24505.478260869564
country in state Alabamaan average population of 71339.34328358209
country in state Alaskaan average population of 24490.724137931036
country in state Arizonaan average population of 426134.4666666667
country in state Arkansasan average population of 38878.90666666667
country in state Californiaan average population of 642309.5862068966
country in state Coloradoan average population of 78581.1875
country in state Connecticutan average population of 446762.125
country in state Delawarean average population of 299311.3333333333
country in state District of Columbiaan average population of 601723.0
country in state Floridaan average population of 280616.5671641791
country in state Georgiaan average population of 60928.63522012578
country in state Hawaiian average population of 272060.2
country in state Idahoan average population of 35626.86363636364
country in state Illinoisan average population of 125790.50980392157
country in state Indianaan average population of 70476.10869565218
country in state Iowaan average population of 30771.262626262625
country in state Kansasan average population of 27172.55238095238
country in state Kentuckyan average population of 36161.39166666667
country in state Louisianaan average population of 70833.9375
country in state Mainean average population of 83022.5625
country in state Marylandan average population of 240564.66666666666
country in state Massachusettsan average population of 467687.78571428574
country in state Michiganan average population of 119080.0
country in state Minnesotaan average population of 60964.65517241379
country in state Mississippian average population of 36186.54878048781
country in state Missourian average population of 52077.62608695652
country in state Montanaan average population of 17668.125
country in state Nebraskaan average population of 19638.075268817203
country in state Nevadaan average population of 158855.9411764706
country in state New Hampshirean average population of 131647.0
country in state New Jerseyan average population of 418661.61904761905
country in state New Mexicoan average population of 62399.36363636364
country in state New Yorkan average population of 312550.03225806454
country in state North Carolinaan average population of 95354.83
country in state North Dakotaan average population of 12690.396226415094
country in state Ohioan average population of 131096.63636363635
country in state Oklahomaan average population of 48718.844155844155
country in state Oregonan average population of 106418.72222222222
country in state Pennsylvaniaan average population of 189587.74626865672
country in state Rhode Islandan average population of 210513.4
country in state South Carolinaan average population of 100551.39130434782
country in state South Dakotaan average population of 12336.060606060606
country in state Tennesseean average population of 66801.1052631579
country in state Texasan average population of 98998.27165354331
country in state Utahan average population of 95306.37931034483
country in state Vermontan average population of 44695.78571428572
country in state Virginiaan average population of 60111.29323308271
country in state Washingtonan average population of 172424.10256410256
country in state West Virginiaan average population of 33690.8
country in state Wisconsinan average population of 78985.91666666667
country in state Wyomingan average population of 24505.478260869564
country in state Alabamaan average population of 71339.34328358209
country in state Alaskaan average population of 24490.724137931036
country in state Arizonaan average population of 426134.4666666667
country in state Arkansasan average population of 38878.90666666667
country in state Californiaan average population of 642309.5862068966
country in state Coloradoan average population of 78581.1875
country in state Connecticutan average population of 446762.125
country in state Delawarean average population of 299311.3333333333
country in state District of Columbiaan average population of 601723.0
country in state Floridaan average population of 280616.5671641791
country in state Georgiaan average population of 60928.63522012578
country in state Hawaiian average population of 272060.2
country in state Idahoan average population of 35626.86363636364
country in state Illinoisan average population of 125790.50980392157
country in state Indianaan average population of 70476.10869565218
country in state Iowaan average population of 30771.262626262625
country in state Kansasan average population of 27172.55238095238
country in state Kentuckyan average population of 36161.39166666667
country in state Louisianaan average population of 70833.9375
country in state Mainean average population of 83022.5625
country in state Marylandan average population of 240564.66666666666
country in state Massachusettsan average population of 467687.78571428574
country in state Michiganan average population of 119080.0
country in state Minnesotaan average population of 60964.65517241379
country in state Mississippian average population of 36186.54878048781
country in state Missourian average population of 52077.62608695652
country in state Montanaan average population of 17668.125
country in state Nebraskaan average population of 19638.075268817203
country in state Nevadaan average population of 158855.9411764706
country in state New Hampshirean average population of 131647.0
country in state New Jerseyan average population of 418661.61904761905
country in state New Mexicoan average population of 62399.36363636364
country in state New Yorkan average population of 312550.03225806454
country in state North Carolinaan average population of 95354.83
country in state North Dakotaan average population of 12690.396226415094
country in state Ohioan average population of 131096.63636363635
country in state Oklahomaan average population of 48718.844155844155
country in state Oregonan average population of 106418.72222222222
country in state Pennsylvaniaan average population of 189587.74626865672
country in state Rhode Islandan average population of 210513.4
country in state South Carolinaan average population of 100551.39130434782
country in state South Dakotaan average population of 12336.060606060606
country in state Tennesseean average population of 66801.1052631579
country in state Texasan average population of 98998.27165354331
country in state Utahan average population of 95306.37931034483
country in state Vermontan average population of 44695.78571428572
country in state Virginiaan average population of 60111.29323308271
country in state Washingtonan average population of 172424.10256410256
country in state West Virginiaan average population of 33690.8
country in state Wisconsinan average population of 78985.91666666667
country in state Wyomingan average population of 24505.478260869564
country in state Alabamaan average population of 71339.34328358209
country in state Alaskaan average population of 24490.724137931036
country in state Arizonaan average population of 426134.4666666667
country in state Arkansasan average population of 38878.90666666667
country in state Californiaan average population of 642309.5862068966
country in state Coloradoan average population of 78581.1875
country in state Connecticutan average population of 446762.125
country in state Delawarean average population of 299311.3333333333
country in state District of Columbiaan average population of 601723.0
country in state Floridaan average population of 280616.5671641791
country in state Georgiaan average population of 60928.63522012578
country in state Hawaiian average population of 272060.2
country in state Idahoan average population of 35626.86363636364
country in state Illinoisan average population of 125790.50980392157
country in state Indianaan average population of 70476.10869565218
country in state Iowaan average population of 30771.262626262625
country in state Kansasan average population of 27172.55238095238
country in state Kentuckyan average population of 36161.39166666667
country in state Louisianaan average population of 70833.9375
country in state Mainean average population of 83022.5625
country in state Marylandan average population of 240564.66666666666
country in state Massachusettsan average population of 467687.78571428574
country in state Michiganan average population of 119080.0
country in state Minnesotaan average population of 60964.65517241379
country in state Mississippian average population of 36186.54878048781
country in state Missourian average population of 52077.62608695652
country in state Montanaan average population of 17668.125
country in state Nebraskaan average population of 19638.075268817203
country in state Nevadaan average population of 158855.9411764706
country in state New Hampshirean average population of 131647.0
country in state New Jerseyan average population of 418661.61904761905
country in state New Mexicoan average population of 62399.36363636364
country in state New Yorkan average population of 312550.03225806454
country in state North Carolinaan average population of 95354.83
country in state North Dakotaan average population of 12690.396226415094
country in state Ohioan average population of 131096.63636363635
country in state Oklahomaan average population of 48718.844155844155
country in state Oregonan average population of 106418.72222222222
country in state Pennsylvaniaan average population of 189587.74626865672
country in state Rhode Islandan average population of 210513.4
country in state South Carolinaan average population of 100551.39130434782
country in state South Dakotaan average population of 12336.060606060606
country in state Tennesseean average population of 66801.1052631579

In [54]:
unique = df['STNAME'].unique()
unique

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [60]:
len(unique)
for i in unique:
    avg = np.average(df[df['STNAME']==i]['CENSUS2010POP'])
    print(avg)

71339.34328358209
24490.724137931036
426134.4666666667
38878.90666666667
642309.5862068966
78581.1875
446762.125
299311.3333333333
601723.0
280616.5671641791
60928.63522012578
272060.2
35626.86363636364
125790.50980392157
70476.10869565218
30771.262626262625
27172.55238095238
36161.39166666667
70833.9375
83022.5625
240564.66666666666
467687.78571428574
119080.0
60964.65517241379
36186.54878048781
52077.62608695652
17668.125
19638.075268817203
158855.9411764706
131647.0
418661.61904761905
62399.36363636364
312550.03225806454
95354.83
12690.396226415094
131096.63636363635
48718.844155844155
106418.72222222222
189587.74626865672
210513.4
100551.39130434782
12336.060606060606
66801.1052631579
98998.27165354331
95306.37931034483
44695.78571428572
60111.29323308271
172424.10256410256
33690.8
78985.91666666667
24505.478260869564

In [63]:
df = df.set_index('STNAME')

In [71]:
def set_batch_number(item):
    if item[0]<'M':
        return 0
    if item[0]<'Q':
        return 1
for group,frame in df.groupby(set_batch_number):
    print('There are ' +str(len(frame))+ 'records in group'+str(group))

There are 1177records in group0.0
There are 1134records in group1.0

In [66]:
df['STATE'].unique()

array([ 1,  2,  4,  5,  6,  8,  9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20,
       21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37,
       38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56],
      dtype=int64)

In [76]:
df = pd.read_csv('https://bit.ly/3kGDuKx',na_values="?")

In [79]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [81]:
#Group by -single group singel column
df.groupby(['pclass'])['survived'].sum() #group by pclass and result is survived

pclass
1    200
2    119
3    181
Name: survived, dtype: int64

In [87]:
#Groupby multiplecolumns
df.groupby(['pclass'])['survived','fare'].sum()

C:\Users\rakes\AppData\Local\Temp\ipykernel_22404\3714773274.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['pclass'])['survived','fare'].sum()

        survived        fare
pclass
1            200  28265.4043
2            119   5866.6374
3            181   9418.4452

In [92]:
df.groupby(['pclass'])['survived','fare'].max()

C:\Users\rakes\AppData\Local\Temp\ipykernel_22404\3736308966.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['pclass'])['survived','fare'].max()

        survived      fare
pclass
1              1  512.3292
2              1   73.5000
3              1   69.5500

In [93]:
#multiple groups

In [96]:
#multiple goups as columns

df.groupby(['pclass','sex'],as_index=False)['survived'].sum()

   pclass     sex  survived
0       1  female       139
1       1    male        61
2       2  female        94
3       2    male        25
4       3  female       106
5       3    male        75

In [98]:
#multiple function
df.groupby(['pclass','sex'],as_index=False)['survived'].agg(['mean','sum','min','max'])

                   mean  sum  min  max
pclass sex
1      female  0.965278  139    0    1
       male    0.340782   61    0    1
2      female  0.886792   94    0    1
       male    0.146199   25    0    1
3      female  0.490741  106    0    1
       male    0.152130   75    0    1

In [113]:
df['age_bins']=pd.cut(df['age'],bins =3,labels=('young','middle_age','old'))

In [114]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,age_bins
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",middle_age
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",young
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",young
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",middle_age
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",young

In [115]:
df.groupby(['age_bins'])['survived'].sum()

age_bins
young         199
middle_age    200
old            28
Name: survived, dtype: int64

In [112]:
df.groupby(['age_bins'])['survived'].describe()

            count      mean       std  min  25%  50%  75%  max
age_bins
young       474.0  0.419831  0.494053  0.0  0.0  0.0  1.0  1.0
middle_age  495.0  0.404040  0.491202  0.0  0.0  0.0  1.0  1.0
old          77.0  0.363636  0.484200  0.0  0.0  0.0  1.0  1.0

In [130]:
df['survived'].groupby(df['age_bins']).describe()

            count      mean       std  min  25%  50%  75%  max
age_bins
young       474.0  0.419831  0.494053  0.0  0.0  0.0  1.0  1.0
middle_age  495.0  0.404040  0.491202  0.0  0.0  0.0  1.0  1.0
old          77.0  0.363636  0.484200  0.0  0.0  0.0  1.0  1.0