In [3]:
import pandas as pd
names ={
    'SSN' :[2,3,4,5],
    'Name' : ['ram','nam','satya','badhur']
}
ages ={
    'SSN' :[1,2,6,5],
    'Age' : [28, 34,45, 62]
}
df1 = pd.DataFrame(names)
df2 = pd.DataFrame(ages)
df = pd.merge(df1, df2, on='SSN',how='outer')
print(df)

   SSN    Name   Age
0    2     ram  34.0
1    3     nam   NaN
2    4   satya   NaN
3    5  badhur  62.0
4    1     NaN  28.0
5    6     NaN  45.0

In [4]:
df.set_index('SSN',inplace = True)

In [6]:
df.sort_index()

       Name   Age
SSN
1       NaN  28.0
2       ram  34.0
3       nam   NaN
4     satya   NaN
5    badhur  62.0
6       NaN  45.0

In [8]:
df = pd.merge(df1, df2, on='SSN',how='inner')
print(df)

   SSN    Name  Age
0    2     ram   34
1    5  badhur   62

In [9]:
df = pd.merge(df1, df2, on='SSN',how='left')
print(df)

   SSN    Name   Age
0    2     ram  34.0
1    3     nam   NaN
2    4   satya   NaN
3    5  badhur  62.0

In [10]:
df = pd.merge(df1, df2, on='SSN',how='right')
print(df)

   SSN    Name  Age
0    1     NaN   28
1    2     ram   34
2    6     NaN   45
3    5  badhur   62