In [17]:
import pandas as pd
import matplotlib.pyplot as plt
data  ={
    'SSN' : [1,2,3,4,5],
    'Name' :['rakesh','rai','anna','jhon','nuna'],
    'Age' : [29, 45,33, 187,123],
    'Height' : [135,145,124,165,114],
    'Gender' :['m','m','f','m','f'],
    'random' :[4,5,6,7,8]
    
}
df = pd.DataFrame(data)

In [18]:
df.set_index('SSN',inplace = True)
print(df.count())

Name      5
Age       5
Height    5
Gender    5
random    5
dtype: int64

In [19]:
print(df['Age'].count())

5

In [20]:
print(df.Age.sum())

417

In [21]:
print(df.sum())
print(df.Age.prod())

Name      rakeshraiannajhonnuna
Age                         417
Height                      683
Gender                    mmfmf
random                       30
dtype: object
990538065

In [22]:
print(df.Height.mean())

136.6

In [23]:
print(df['Height'].median())

135.0

In [24]:
print(df['Height'].mode())

0    114
1    124
2    135
3    145
4    165
Name: Height, dtype: int64

In [25]:
print(df['Height'].std()) #how avg deviate from mean

19.67993902429578

In [27]:
print(df['Height'].describe())

count      5.000000
mean     136.600000
std       19.679939
min      114.000000
25%      124.000000
50%      135.000000
75%      145.000000
max      165.000000
Name: Height, dtype: float64

In [28]:
print(df.describe())

              Age      Height    random
count    5.000000    5.000000  5.000000
mean    83.400000  136.600000  6.000000
std     69.417577   19.679939  1.581139
min     29.000000  114.000000  4.000000
25%     33.000000  124.000000  5.000000
50%     45.000000  135.000000  6.000000
75%    123.000000  145.000000  7.000000
max    187.000000  165.000000  8.000000

In [35]:
import numpy as np
print(df['Height'].apply(lambda x:x *100))

SSN
1    13500
2    14500
3    12400
4    16500
5    11400
Name: Height, dtype: int64

In [47]:
for key,value in df['Age'].items():
    print('{} : {}'.format(key,value))

1 : 29
2 : 45
3 : 33
4 : 187
5 : 123

In [49]:
for i,j in df.items():
    print(i,j)

Name SSN
1    rakesh
2       rai
3      anna
4      jhon
5      nuna
Name: Name, dtype: object
Age SSN
1     29
2     45
3     33
4    187
5    123
Name: Age, dtype: int64
Height SSN
1    135
2    145
3    124
4    165
5    114
Name: Height, dtype: int64
Gender SSN
1    m
2    m
3    f
4    m
5    f
Name: Gender, dtype: object
random SSN
1    4
2    5
3    6
4    7
5    8
Name: random, dtype: int64

In [55]:
print(df.sort_index())
print(df.sort_values(by =['Name','Age']))

       Name  Age  Height Gender  random
SSN
1    rakesh   29     135      m       4
2       rai   45     145      m       5
3      anna   33     124      f       6
4      jhon  187     165      m       7
5      nuna  123     114      f       8
       Name  Age  Height Gender  random
SSN
3      anna   33     124      f       6
4      jhon  187     165      m       7
5      nuna  123     114      f       8
2       rai   45     145      m       5
1    rakesh   29     135      m       4